<h1>Volunteers#new</h1>

<%= form_for @volunteer do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :cpf %>
    <%= f.text_field :cpf %>
  </div>

  <div class="actions">
    <%= f.submit 'Cadastrar' %>
  </div>

<% end %>
