<section class="app-flex account">
  <div>
    <i class="lnr lnr-apartment" style="font-size: 4em"></i>
    <h1 class="h3 mb-3 font-weight-normal">
      Empresa
    </h1>

    <%= form_for @company do |f| %>

      <%= f.text_field :name, placeholder: 'Nome', class: 'form-control top' %>

      <%= f.text_field :phone, placeholder: 'Telefone', class: 'form-control middle' %>

      <%= f.text_field :cnpj, placeholder: 'CNPJ', class: 'form-control bottom' %>

      <br>

      <%= f.submit 'Cadastrar', class: 'btn btn-lg btn-block btn-primary' %>

    <% end %>
  </div>
  <div class="col">
    <i class="lnr lnr-user" style="font-size: 4em"></i>
    <h1 class="h3 mb-3 font-weight-normal">
      Voluntário
    </h1>

    <%= form_for @volunteer do |f| %>

      <%= f.text_field :phone, placeholder: 'Telefone', class: 'form-control top' %>

      <%= f.text_field :cpf, placeholder: 'CPF', class: 'form-control bottom' %>

      <br>

      <%= f.submit 'Cadastrar', class: 'btn btn-lg btn-block btn-primary' %>

    <% end %>

  </div>
</section>
