<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, 'Nome' %>
  <%= f.text_field :name, class: 'form-control' %>
  <br>
  <%= f.label :description, 'Descrição' %>
  <%= f.text_area :description, class: 'form-control' %>
  <br>
  <%= f.label :start_date, 'Data de início' %>
  <%= f.text_field :start_date, class: 'air-datepicker-time form-control' %>
  <br>
  <%= f.label :end_date, 'Data de término' %>
  <%= f.text_field :end_date, class: 'air-datepicker-time form-control' %>
  <br>
  <%= f.label :latitude %>
  <%= f.text_field :latitude, class: 'form-control' %>
  <br>
  <%= f.label :longitude %>
  <%= f.text_field :longitude, class:'form-control' %>

  <br>
  <%= f.submit 'Salvar', class: 'btn btn-success' %>
<% end %>
