<%= form_with(model: event, local: true) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
        document.addEventListener("DOMContentLoaded", initMap);
    </script>
  <% end %>
  <span id="changes" style="display: none">yes</span>
  <div style="width: 50%; margin: auto; background-color: #fff; padding: 1%; border-radius: 4px; box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name, class: 'form-control' %>
    <br>
    <%= f.label :description, 'Descrição' %>
    <%= f.text_area :description, class: 'form-control' %>
    <br>
    <%= f.label :start_date, 'Data de início' %>
    <%= f.text_field :start_date, class: 'air-datepicker-time form-control' %>
    <br>
    <%= f.label :end_date, 'Data de término' %>
    <%= f.text_field :end_date, class: 'air-datepicker-time form-control' %>
    <br>
    <%= f.hidden_field :latitude, class: 'form-control', value: @event.latitude != 0 ? @event.latitude : 0 %>
    <br>
    <%= f.hidden_field :longitude, class:'form-control', value: @event.longitude != 0 ? @event.longitude : 0 %>
    <div id="mapouter2" style="margin: auto; height: 400px; width: 70%;"></div>
    <br>
    <%= f.submit 'Salvar', class: 'btn btn-success' %>
  <div>
    <% provide :head_tags do %>
        <meta name='turbolinks-visit-control' content='reload'>
        <script>
          document.addEventListener("DOMContentLoaded", initMap2);
        </script>
    <% end %>

<% end %>
