<section class="app-wrapper">

  <div class="app-block">
    <div class="app-block-title">
      <h3>
        <i class="lnr lnr-flag"></i> Eventos
      </h3>

      <%= link_to new_event_path, class: 'btn' do %>
        <i class="lnr lnr-plus-circle"></i> Novo evento
      <% end if user_signed_in? && current_user.company? %>
    </div>

    <div class="app-block-content">

      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Data de início</th>
            <th>Data de término</th>
            <th>Empresa</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td>
                <%= event.name %>
              </td>
              <td><%= event.start_date.strftime('%d/%m/%Y - %H:%M') %></td>
              <td><%= event.end_date.strftime('%d/%m/%Y - %H:%M') %></td>
              <td><%= event.company.name %></td>
              <td>
                <%= link_to event do %>
                  <i class="lnr lnr-eye"></i> Ver
                <% end %>
              </td>
              <td>
                <% if user_signed_in? && event.company == current_user.company %>
                  <%= link_to edit_event_path(event) do %>
                    <i class="lnr lnr-pencil" title="Editar"></i>
                  <% end %>
                  <%= link_to event, method: :delete, data: { confirm: 'Você tem certeza?' } do %>
                    <i class="lnr lnr-trash" style="color: red" title="Remover"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>

  </div>

</section>
