<section class="app-wrapper">
  <div class="app-block">
    <div class="app-block-title">
      <h3>
        <i class="lnr lnr-flag"></i> <%= @event.name %>
      </h3>

      <%= link_to 'Editar', edit_event_path(@event), class: 'btn' if user_signed_in? && current_user.company == @event.company %>
    </div>

    <div class="app-block-content">

      <p>
        <% if @event.description.present? %>
          <%= @event.description %>
        <% else %>
          Sem descrição
        <% end %>
      </p>

      <p>
        <strong>Data de início:</strong>
        <%= @event.start_date.strftime('%d/%m/%Y - %H:%M') %>
      </p>

      <p>
        <strong>Data de término:</strong>
        <%= @event.end_date.strftime('%d/%m/%Y - %H:%M') %>
      </p>
      <span id="event_latitude"><%= @event.latitude %></span>
      <span id="event_longitude"><%= @event.longitude %></span>
      <span id="changes" style="display: none">no</span>

      <div id="mapouter" style="margin: auto; height: 400px; width: 70%;"></div>
    </div>
  </div>
</section>
<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap()
    });
    </script>
<% end %>
